{% extends 'base.html' %}
{% block content %}
    <!-- Banner -->
    <div class="banner">
        <h1>Welcome to Tay & Becca Services</h1>
        <p>Your Trusted Partner for Quality Trucks, Spare Parts, and Construction Equipment</p>
    </div>

    <!-- Main Content -->
    <section>
        <div class="custom-container">
            <div class="row">
                <!-- Our Story Content -->
                <div class="col-md-6">
                    <h2>Our Story</h2>
                    <p>Tay & Becca Services is a renowned name in the Nigerian automotive and construction industry, dedicated to providing top-notch solutions to meet the diverse needs of our customers. Established in 2019, our journey began with a vision to revolutionize the market by delivering exceptional products and services.</p>
                    <p>Specializing in a wide range of products, including Howo trucks, mixers, water tankers, OEM spare parts, dump trucks, tractor trucks, trailers, tyres, engine oil, and more, we pride ourselves on offering both foreign used and brand new options. Whether you're looking for reliable vehicles or genuine spare parts, we've got you covered.</p>
                    <p>Not limited to just trucks and spare parts, we also deal in new and used construction equipment, catering to the needs of builders and contractors across Nigeria. From excavators to bulldozers, we provide quality equipment to facilitate smooth construction operations.</p>
                    <p>What sets us apart is our commitment to customer satisfaction. With a dedicated team and a vast network of suppliers, we ensure prompt delivery of spare parts to every part of Nigeria, ensuring minimal downtime for our customers.</p>
                    <p>Over the years, we have earned the trust and loyalty of hundreds of customers across Nigeria, thanks to our unwavering dedication to quality, reliability, and integrity. At Tay & Becca Services, we don't just sell products; we build relationships.</p>
                </div>
                <!-- Images Column -->
                        <div class="col-md-6 image-column">
                            <img src="../static/img/home-abt-img.png" alt="Image 1">
                        </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row custom-container-two">
                <div class="col-md-6">
                    <div class="custom-container">
                        <h2>Our Vision</h2>
                        <p>Our vision at Tay & Becca Services is to be the leading provider of automotive and construction solutions in Nigeria, recognized for our excellence, innovation, and commitment to customer satisfaction.</p>
                    </div>
            
                </div>
                <div class="col-md-6">
                <div class="custom-container">
                        <h2>Our Mission</h2>
                        <p>Our mission is to consistently deliver high-quality products and services, tailored to meet the specific needs of our customers. We strive to build long-lasting relationships based on trust, integrity, and mutual respect while contributing positively to the growth and development of the Nigerian automotive and construction industry.</p>
                    </div>
                </div>
    </div>
    <section>
        <div class="custom-container">
            <div class="row">
                <h1>Sinotruk History</h1>
                <!-- Images Column -->
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="../static/img/about-image.png" alt="Image 1">
                        </div>
                    </div>
                </div>
                <!-- Our Story Content -->
                <div class="col-md-12">
                    <p>Since its inception in 1960, Sinotruk has been a pioneering force in China's heavy truck industry. The company's journey began with the production of China's first heavy truck, the Yellow River JN150 eight-ton truck, a monumental achievement that ended China's reliance on imported heavy trucks.</p>
                    <p>Throughout the 1960s and 1970s, Sinotruk continued to innovate, developing the Yellow River 350 tipper truck and establishing collaborations with international partners to assemble Roman trucks in SKD mode.</p>
                    <p>In the 1980s, Sinotruk embraced advanced technology by introducing Steyr heavy vehicle manufacturing technology from Austria. This marked the beginning of Sinotruk's localization efforts, culminating in the production of the first locally made Steyr truck in China in 1985.</p>
                    <p>The early 2000s saw Sinotruk's rapid growth and expansion, with the establishment of the largest heavy-duty truck axle production base in China in 2002. The launch of the Steyr King HDT and the signing of a contract with Volvo for a joint venture further solidified Sinotruk's position as a technological leader.</p>
                    <p>In 2004, Sinotruk made a significant leap forward with the launch of the HOWO heavy truck, which quickly became the best-selling model in China. This success was followed by the listing of Sinotruk on the main board of the Hong Kong Stock Exchange in 2007, signaling its entry into the global capital market.</p>
                    <p>Subsequent years saw Sinotruk's continuous innovation and expansion into new areas, including the launch of the HOWO A7, the introduction of light truck products, and the establishment of a strategic partnership with MAN.</p>
                    <p>In 2015, Sinotruk completed the construction of China's only "National Research Center for HDT Engineering and Technology," demonstrating its commitment to research and innovation. The introduction of smart trucks in 2016 and the trial operation of the world's first unmanned electric truck in 2018 further solidified Sinotruk's position as a leader in technological advancement.</p>
                    <p>Today, Sinotruk continues to push the boundaries of innovation with the launch of the new-generation HDT brand Yellow River, equipped with advanced features and intelligent driving capabilities. As Sinotruk enters a new era of development under new leadership, its legacy of excellence and commitment to customer satisfaction remains stronger than ever.</p>
                </div>
                
            </div>
        </div>
    </section>
    
{% endblock content %}
