{% extends 'core/base3.html' %}
{% load static %}

{% block content %}

<!-- Blog Header -->
<header class="masthead d-flex justify-content-center align-items-center" style="background-image: url('{% static 'img/blog-hero.jpg' %}'); height: 50vh;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center header-content">
            <div class="col-md-10 col-lg-12 col-xl-12">
                <div class="blog-heading text-center text-white">
                    <h1>{{ blog.title }}</h1>
                    <span class="meta">
                        Posted by
                        <a href="#!">{{ blog.author }}</a>
                        on {{ blog.date_posted|date:"%B %d, %Y" }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Blog Post Content -->
<article class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-12 col-lg-2 col-xl-12">
            {% if blog.image %}
            <img src="{{ blog.image.url }}" class="img-fluid mb-4" alt="Image related to {{ blog.title }}">
            {% endif %}
            <div class="blog-content">
                {{ blog.content|safe }}
            </div>
        </div>
    </div>
</article>

<!-- Recent Posts -->
<section class="container mt-5 px-4 px-lg-5">
    <div class="row">
        <div class="col-md-12">
            <h2>Recent Posts</h2>
            <div class="row">
                {% for post in recent_blogs %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        {% if post.image %}
                        <img src="{{ post.image.url }}" class="card-img-top" alt="Image related to {{ post.title }}" style="width: 100px; height: 80px;">

                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.content|slice:":120" }}...</p>
                            <a href="{% url 'blog_details' post.id %}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>No recent posts available.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End Recent Posts -->

{% endblock content %}
