{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="slider-container">
    <div class="slide active">
        <img src="{% static 'img/slide-series8.png' %}" alt="Image 1">
    </div>
</div>

<!-- Products tab & slick -->
<div class="container">
    <div class="row">
        <!-- Sidebar for Categories and Types -->
        <div class="col-md-3">
            <div class="sidebar">
                <h4>By Type</h4>
                <ul class="list-unstyled">
                    <li><a href="{% url 'spare_parts' %}">All</a></li>
                    <li><a href="{% url 'spare_parts_by_type' 'Axle Parts' %}">Axle Parts</a></li>
                    <li><a href="{% url 'spare_parts_by_type' 'Electric Parts' %}">Electric Parts</a></li>
                    <li><a href="{% url 'spare_parts_by_type' 'Engine Parts' %}">Engine Parts</a></li>
                    <li><a href="{% url 'spare_parts_by_type' 'Injector Parts' %}">Injector Parts</a></li>
                    <li><a href="{% url 'spare_parts_by_type' 'Servicing Parts' %}">Servicing Parts</a></li>
                    <li><a href="{% url 'spare_parts_by_type' 'Steering Parts' %}">Steering Parts</a></li>
                </ul>
            </div>
        </div>

        <!-- Spare Parts Cards -->
        <div class="col-md-9">
            <div class="row">
                {% for spare_part in spare_parts %}
                <div class="col-md-4">
                    <!-- Product -->
                    <div class="product">
                        <div class="product-img">
                            <!-- Set max-width and max-height for the image -->
                            <img src="{{ spare_part.image.url }}" alt="{{ spare_part.name }}" style="max-width: 70%; max-height: 200px;">
                            <div class="product-label">
                                {% if spare_part.sale %}
                                <span class="sale">-30%</span>
                                {% endif %}
                                {% if spare_part.new %}
                                <span class="new">NEW</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="product-body">
                            <h3 class="product-name"><a href="{% url 'spare_part_details' spare_part.id %}">{{ spare_part.name }}</a></h3>
                        </div>
                        <div class="add-to-cart">
                            <a class="add-to-cart-btn" href="{% url 'spare_part_details' spare_part.id %}">View</a>
                        </div>
                    </div>
                    <!-- /Product -->
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- /Spare Parts Cards -->
    </div>
</div>
<!-- /Products tab & slick -->

{% endblock content %}
